@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
  --accent: #ffcc0d;
  --contour: #000;
  --main: #fff;
  --light-bg: #eee;
  --border-bold: 0.5rem solid var(--contour);
  --border-light: 0.2rem solid var(--contour);
}
.dark {
  --accent: #e7b709;
  --contour: #fff;
  --main: #000;
  --light-bg: #333;
  --border-bold: 0.5rem solid var(--contour);
  --border-light: 0.2rem solid var(--contour);
}

* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  color: var(--contour);
}

*::selection {
  /*awsome to change color of text when selected*/
  background-color: var(--contour);
  color: var(--accent);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  transition: 0.2s linear !important;
  background-color: var(--main);
  transition: 0.7s ease;
}
.App {
  transition: 0.7s ease;
}

.App.active {
  padding-left: 35rem;
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

#theme-toggler {
  font-size: 2.5rem;
  padding: 1.5rem;
  margin: 0.5rem;
  padding: 5px 10px;
  background: var(--secondary-bg-color);
  color: var(--primary-text-color);
  cursor: pointer;
}

.heading {
  margin-bottom: 3rem;
  text-align: center;
}

.heading span {
  text-transform: uppercase;
  font-size: 6.5rem;
  border-bottom: var(--border-bold);
}

.message {
  position: sticky;
  top: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-size: 2rem;
}

.message i {
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  padding: 1rem 3rem;
  border: var(--border-light);
  font-size: 2rem;
  background: none;
}

.btn:hover {
  background-color: var(--contour);
  color: var(--main);
}

.header {
  position: fixed;
  top: 0;
  left: -35rem;
  height: 100vh;
  background-color: var(--main);
  border-right: var(--border-bold);
  width: 35rem;
  padding: 3rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 4.5rem;
  flex-flow: column;
  transition: 0.2s linear !important;
  text-align: center;
  z-index: 1000;
  transition: 0.7s ease;
}

.header .logo {
  text-transform: uppercase;
  border-bottom: var(--border-bold);
  font-weight: bolder;
  font-size: 4.5rem;
}

.header .navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header .navbar .link {
  display: block;
  font-size: 2.5rem;
  padding: 1.5rem;
  margin: 0.5rem;
  transition: 0.7s ease;
}

.header .navbar .link.active,
.header .navbar .link:hover {
  background-color: var(--accent);
}
.header .follow {
  position: absolute;
  bottom: 3.5rem;
}
.header .follow .social-icon {
  font-size: 3rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: 0.3s linear !important;
}

.header .follow .social-icon:hover {
  transform: scale(1.2);
}

#menu-btn {
  position: absolute;
  top: 0;
  right: -5.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 5rem;
  font-size: 2.2rem;
  cursor: pointer;
  background-color: var(--contour);
  color: var(--main);
}

.header.active {
  left: 0;
}
/*Home page*/
.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 100vh;
}

.home .image {
  flex: 1 1 35rem;
}

.home .image img {
  height: 55rem;
  padding: 2rem;
  border: var(--border-bold);
}

.home .content {
  flex: 1 1 40rem;
}

.home .content h3 {
  /* text-transform: capitalize; */
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.home .content span {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--accent);
  font-size: 2.5rem;
  margin: 1rem 0;
}

.home .content p {
  font-size: 1.7rem;
  line-height: 2;
  padding: 1rem 0;
}
/*About page*/
.about .biography {
  margin-bottom: 5rem;
}
.about .biography p {
  margin: 2rem auto;
  max-width: 70rem;
  line-height: 2;
  font-size: 1.8rem;
}

.about .biography .bio {
  margin: 1rem 0;
}

.about .biography .bio h3 {
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1rem;
  background-color: var(--light-bg);
  border: var(--border-light);
  word-break: break-all;
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: none;
}

.about .biography .bio h3 span {
  font-weight: lighter;
}

/*Portfolio page*/
.portfolio .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: 5rem;
}

.portfolio .box-container .box img {
  height: 20rem;
  width: 100%;
  object-fit: contain;
}

.portfolio .box-container .box h3 {
  margin: 1rem 0rem 0rem 0rem;
  font-size: 2rem;
  font-weight: normal;
}
.portfolio .box-container .box .btns {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.portfolio .box-container .box .preview,
.portfolio .box-container .box .code {
  padding: 0.5rem;
}
.portfolio .box-container .box .preview:hover a,
.portfolio .box-container .box .code:hover a {
  color: var(--main);
}

/*Contact page*/
.contact form {
  max-width: 70rem;
  margin: 0 auto;
}

.contact form .box {
  width: 100%;
  padding: 1.4rem;
  font-size: 2rem;
  text-transform: none;
  border: var(--border-light);
  margin: 1rem 0;
}

.contact form textarea {
  height: 20rem;
  resize: none;
}

.contact form .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .flex .box {
  width: 49%;
}

.contact .box-container {
  margin-bottom: 12rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
  margin-top: 3rem;
}

.contact .box-container .box {
  padding: 3rem 2rem;
  border: var(--border-light);
}

.contact .box-container .box .contact-social {
  font-size: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  color: var(--main);
  background-color: var(--contour);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact .box-container .box h3 {
  margin: 1.5rem 0;
  font-size: 2.5rem;
}

.contact .box-container .box p {
  font-size: 2rem;
  text-transform: none;
}
.contact-text {
  font-size: 2rem;
}

.footer {
  text-align: center;
  background-color: var(--contour);
  padding: 3rem;
  font-size: 2rem;
  color: var(--main);
}

.footer span {
  color: var(--accent);
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body.active {
    padding-left: 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header.active {
    padding-top: 7rem;
  }

  #menu-btn.fa-times {
    right: 0;
  }

  .home .image img {
    height: auto;
    width: 100%;
  }

  .heading span {
    font-size: 4rem;
  }

  .about .biography .bio h3 {
    font-size: 2rem;
  }

  .contact form .flex .box {
    width: 100%;
  }
}
